ul {
  margin : 0;
  padding : 0;
  list-style-type : none;
}

ul li {
//  float : left;
  cursor : pointer;
  font-weight : bold;
  margin : 4px;
}

ul ul {
  list-style-image : url(list.gif);
  display : none;
}

ul ul li {
  font-weight : normal;
  cursor : default;
}