
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=c
Comment=
Categories=Application;
Exec=/var/www/jp/joorgportal30/applet/c.sh
Icon=
Terminal=true
StartupNotify=false
