body {
	padding-top:0px;
}

.mostread,
.weblinks,
.category-module,
.syndicate-module,
ul.nav.menu,
#login-form {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#eee;
	border:1px solid #ccc;
	padding:5px;
	margin:0px 0px 10px 0px;
}


.mostread,
.weblinks,
.category-module {
	padding:0px 0px 0px 20px;
}

.syndicate-module {
	display:block;
}
